package home

import "opinionBoardGoTemplHtmx/templates/layouts"
import "opinionBoardGoTemplHtmx/templates/components"
import "opinionBoardGoTemplHtmx/utils"

templ Index(opinions []utils.Opinion){
    @layouts.Base(){
        <h2>Add new opinion:</h2>
        @components.AddNewForm(utils.Opinion{})
        @components.OpinionsDisplay(opinions)
    }
}
