package components

templ ErrorDisplay(errors []string){
    <div id="error-display">
        <ul>
            for _, error := range errors{
                <li>{error}</li>
            }
        </ul>
    </div>
}
