package components

import "opinionBoardGoTemplHtmx/utils"

templ OpinionsDisplay(opinions []utils.Opinion){
    <div id="opinion-display">
        for _, opinion := range opinions {
            @Opinion(opinion)
        }
    </div>
}
